# VS Code
.vscode

# Python environments
.pixi
*.egg-info
requirements.txt

# Environment variables & API keys
keys.json
.env

# Python files
__pycache__

# Data
data/
!src/long_code_bench/data
results*/
logs/
repos/
repos.txt

# Other
causal-conv1d/
mamba/
eval.sh
SWE_Eval.*