# VS Code
.vscode

# pixi environments
.pixi
*.egg-info

# API keys
keys.json

# Python files
__pycache__

# Data
data/
!src/long_code_bench/data
results*/
logs/

# Environment files
.env

# ignore results folder

causal-conv1d/
mamba/

requirements.txt

eval.sh
SWE_Eval.*