# VS Code
.vscode

# Python environments
.pixi
*.egg-info
requirements.txt

# Environment variables & API keys
keys.json
.env

# Python files
__pycache__
.pytest_cache

# Data
data/
!src/long_code_bench/data
results*/
logs/
repos/
repos.txt
None
LQA
LongSWE_Bench

# Other
causal-conv1d/
mamba/
plot_scripts/
eval.sh
SWE_Eval.*